.name {
    font-family: 'Mulish'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
}

.name-2 {
    font-family: 'Mulish' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.btn-dan {
    width: 154px;
    height: 40px;
    font-family: 'Mulish' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.qwer {
    font-family: 'Mulish'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FF0000;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: underline;
}

.qwer-2 {
    font-family: 'Mulish'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #ffffff;
    margin-top: 10px;
}

.bnnima {
    width: 1250px;
}